<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Artur maps</title>
  <script src="/assets/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/src.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/assets/map.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div id="map-container" class="zoom-normal">
    <div id="map-controls">
      <div id="controls-zoom">
        <button class="sprite" id="zoom-in"></button>
        <div class="button-divider"></div>
        <button class="disabled" id="zoom-out"></button>
      </div>
      <div id="controls-marker">
        <button class="large-sprite" id="make-marker"></button>
      </div>
    </div>
    <div id="map-canvas">
      <div id="markers">
        {% for marker in markers %}
          <div class="marker" data-lat="{{ marker.lat }}" data-lng="{{ marker.lng }}" >
            <div class="marker-graphic"></div>
          </div>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</body>
</html>
