body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
  cursor: all-scroll;
}

#map-container.zoom-normal div.map-tile {
  width: 200px;
  height: 200px;
}

#map-canvas {
  position: absolute;
  z-index: 1;
}

div.map-tile {
  position: absolute;
  z-index: 2;
  background-position: 0, 0;
  display: none;
  
  /* Prevent images from getting selected */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

div.map-tile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#map-controls {
  z-index: 10;
}

#controls-zoom {
  position: absolute;
  top: 100px;
  left: 24px;
  z-index: 10;
}

#controls-marker {
  position: absolute;
  top: 100px;
  left: 60px;
  width: 55px;
  z-index: 10;
}

button {
  border: none;
  background: transparent;
}

div.button-divider {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.15);
}

#controls-zoom button {
  width: 28px;
  height: 27px;
  display: block;
}

#controls-marker button {
  width: 55px;
  height: 55px;
  display: block;
}

button.sprite, #controls-marker button {
  cursor: pointer;
}

button#zoom-in {
  background-image: url('/assets/img/button.zoomin.png');
}

button#zoom-out {
  background-image: url('/assets/img/button.zoomout.png');
}

button#make-marker {
  background-image: url('/assets/img/button.marker.png');
}

button.sprite:hover {
  background-position: 0px -27px;
}

button.sprite:active {
  background-position: 0px -54px;
  cursor: default;
}

button.disabled {
  background-position: 0px -81px;
}

button.large-sprite:hover {
  background-position: 0px -55px;
}

button.large-sprite:active {
  background-position: 0px -110px;
}
